body{
	margin:0;
	padding: 0;
	background-color: grey;
}

.header{
	background-color: #6b5b95;
	height: 6rem;

}

.header__logo--image{
	width: 10rem;
	display: block;
}
.header__title{
	font-family: 'Indie Flower', cursive;
	float: left;
	display: block;
	margin-left: 11rem;
	margin-top: -6rem;
	color: white;
}
.sidebar{
	margin-top: 6rem;
	background-color: #feb236;
}


.main{
	margin-top: 6rem;
	background-color: #ff7b25;

}
.form__profile{
	margin-left: 10rem;
	margin-top: 5rem;
	border-radius: 50%;

}

.form__file{
	margin-left: 4rem;
	margin-top: 2rem;
}

.form__text{
	margin-left: 6rem;
	margin-top: 2rem;
	width: 70%;
	height: 6rem;
}

.box__avatar{
	margin-left: 5%;
	margin-right: auto;
	margin-top: 2px;
	width: 10%;
	border-radius: 50%;
}
.box__profile{
	margin-top: 2rem;
	background-color: #d64161;
	padding-top: 1rem;
	padding-bottom: 2rem;
	padding-left: 1rem;
	padding-right: 0.5rem;
	border-radius: 10px;
	border:2px;
	border-color: #ff7b25;
}


.box__heart{
	display: block;
	float: left;
	font-size: 1.15rem;
	margin-top: 0.1rem;
	margin-left: 18rem;
	padding-right: 0;
	color: #464140;
	cursor: pointer;
}

.box__heart--red{
	color: red;	
}

.box__trash{
	padding-left: 2rem;
	display: block;
	float: left;
	font-size: 1.15rem;
	color: #464140;
	padding-bottom: 1rem;
	cursor: pointer;

}